.navbar-brand, .nav-container {
  display: flex;
  border-style: dashed;
  border-width: 1px;
  padding: 8px 10px 0px 10px;
  border-color: #000000;
  border-radius: 28px;
}
.navbar {
  background-color: #e86329!important;
  /* box-shadow: inset 1px 1px 20px 2px #fff;*/
}
.logo-title {
  font-family: 'Alegreya Sans SC';
  font-size: 28px;
  margin: 0px;
}
.navbar-text {
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
}